# Local .terraform directories
**/.terraform/*
terraform-provider-regru

# .tfstate files
*.tfstate
*.tfstate.*


*.tfvars
*.tfvars.json
*.hcl

# Ignore override files as they are usually used to override resources locally and so
# are not checked in
override.tf
override.tf.json

dist/
